body {
    background-color: #191818;
}

#game {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

.content-form {
    padding-left: 0.6em !important;
    padding-right: 0 !important;
}

@media (min-width: 48em) {
    #game {
        left: 300px;
    }
}

@media (max-width: 48em) {
    #game {
        left: 0;
    }
}
